<h1>New auction</h1>

<%= form_for @auction, url: { action: "create" } do |f| %>
  <div class="form-group col-sm-12">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label :finish_at %><br />
    <%= f.text_field :finish_at, class: "form-control", id: "datetimepicker4" %>
  </div>

  <div class="form-group col-sm-12">
    <label>Type</label><br />
    <%= f.select :premium, [['Non premium', false], ['Premium', true]], class: 'form-control' %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %> <br />
    <%= f.submit "Create", class: 'btn btn-default' %>
  </div>
<% end %>